# Analiza jakości i czystości danych dla każdego pliku w 202301

Jakość badana będzie pod względem:
- Ilości danych
- Różnorodności danych
- Kompletności 
- Maksymalnych i minimalnych wartości danych (w celach optymalizacyjnych)

## 1. Ilość danych

Do tego zadania wykorzystam jedno z dostępnych poleceń systemu linux  ``` wc -l *```  w folderze z plikami, w celu otrzymania informacji na temat ilości rekordów dostępnych w każdym pliku, wyniki prezentują się następująco:

| Lines     | File Name            |
|-----------|----------------------|
| 2776854   | curr_datausage.csv   |
| 1380352   | curr_dlping.csv      |
| 129561205 | curr_dns.csv         |
| 1         | curr_httpget.csv     |
| 1         | curr_httpgetmt6.csv  |
| 806143    | curr_httpgetmt.csv   |
| 1         | curr_httppost.csv    |
| 3         | curr_httppostmt6.csv |
| 803437    | curr_httppostmt.csv  |
| 977726    | curr_lct_dl.csv      |
| 975855    | curr_lct_ul.csv      |
| 4482226   | curr_ping.csv        |
| 13265008  | curr_traceroute.csv  |
| 2138360   | curr_udpcloss.csv    |
| 2688578   | curr_udpjitter.csv   |
| 18544     | curr_udplatency6.csv |
| 5454687   | curr_udplatency.csv  |
| 1394991   | curr_ulping.csv      |
| 10668403  | curr_webget.csv      |

Korzystając z powyższych danych już możemy określić, że że pliki **curr_httpget.csv**, **curr_httpgetmt6.csv**, **curr_httppost.csv** oraz **curr_httppostmt6** nie są warte analizy ze względu na bardzo małą ilość rekordów bądz ich brak (jedna linijka zawsze jest headerem csv), zatem przechodząc do kolejnych kroków nie zamierzam już analizować powyższych plików

## 2. Różnorodność danych dla poszczególnych kolumn w tabelach

W tym punkcie planuje skupić się na różnorodności danych oraz przedziałach wartości (oczywiście w zależności od typów przechowywanych typów) w celu analizy pod kątem kompletności, faktycznej różnorodności, oraz w celach optymalizacyjnych dla późniejszych problemów analitycznych

A teraz użycie oraz wyniki:


### Różnorodność danych dla pliku: curr_datausage.csv

| Column Name         | Min Value       | Max Value             | Max Length | Null Values | Notes |
|---------------------|-----------------|-----------------------|------------|-------------|-------|
| unit_id             | 386             | 90021129              |            | 0           |       |
| dtime               |                 |                       | 19         | 0           |       |
| sk_tx_bytes         | 0               | 12885317875           |            | 0           |       |
| sk_rx_bytes         | 0               | 24803996451           |            | 0           |       |
| cust_wired_tx_bytes | 0               | 2182029230860946086   |            | 0           |       |
| cust_wired_rx_bytes | 0               | 364022623364          |            | 0           |       |
| cust_wifi_tx_bytes  | 0               | 35358497225           |            | 0           |       |
| cust_wifi_rx_bytes  | 0               | 121392794385          |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_dlping.csv

| Column Name | Min Value | Max Value | Max Length | Null Values | Notes |
|-------------|-----------|-----------|------------|-------------|-------|
| unit_id     | 386       | 90021129  |            | 0           |       |
| dtime       |           |           | 19         | 0           |       |
| target      |           |           | 48         | 0           |       |
| rtt_avg     | 0         | 2899709   |            | 0           |       |
| rtt_min     | 0         | 2771961   |            | 0           |       |
| rtt_max     | 0         | 2999974   |            | 0           |       |
| rtt_std     | 0         | 1668147   |            | 0           |       |
| successes   | 0         | 219814    |            | 0           |       |
| failures    | 0         | 215649    |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_dns.csv

| Column Name   | Min Value | Max Value | Max Length | Null Values | Notes |
|---------------|-----------|-----------|------------|-------------|-------|
| unit_id       | 386       | 90021129  |            | 0           |       |
| dtime         |           |           | 19         | 0           |       |
| nameserver    |           |           | 39         | 0           |       |
| lookup_host   |           |           | 17         | 0           |       |
| response_ip   |           |           | 36         | 578827      |       |
| rtt           | 0         | 20569208  |            | 0           |       |
| successes     | 0         | 1         |            | 0           |       |
| failures      | 0         | 1         |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_httpgetmt.csv

| Column Name         | Min Value | Max Value | Max Length | Null Values | Notes |
|---------------------|-----------|-----------|------------|-------------|-------|
| unit_id             | 386       | 90021129  |            | 0           |       |
| dtime               |           |           | 19         | 0           |       |
| target              |           |           | 48         | 0           |       |
| address             |           |           | 15         | 0           |       |
| fetch_time          | 0         | 22102138  |            | 0           |       |
| bytes_total         | 0         | 1187254296|            | 0           |       |
| bytes_sec           | 0         | 118609690 |            | 0           |       |
| bytes_sec_interval  | 0         | 118609690 |            | 0           |       |
| warmup_time         | -2140625932| 2120134729|           | 0           |       |
| warmup_bytes        | 0         | 654694376 |            | 0           |       |
| sequence            | 0         | 0         |            | 0           |       |
| threads             | 8         | 8         |            | 0           |       |
| successes           | 0         | 1         |            | 0           |       |
| failures            | 0         | 1         |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_httppostmt.csv

| Column Name         | Min Value | Max Value | Max Length | Null Values | Notes |
|---------------------|-----------|-----------|------------|-------------|-------|
| unit_id             | 386       | 90021129  |            | 0           |       |
| dtime               |           |           | 19         | 0           |       |
| target              |           |           | 48         | 0           |       |
| address             |           |           | 15         | 0           |       |
| fetch_time          | 0         | 13071461  |            | 0           |       |
| bytes_total         | 0         | 1191124800|            | 0           |       |
| bytes_sec           | 0         | 125220794 |            | 0           |       |
| bytes_sec_interval  | 0         | 125220794 |            | 0           |       |
| warmup_time         | -2129616921| 2140849142|           | 0           |       |
| warmup_bytes        | 0         | 598577928 |            | 0           |       |
| sequence            | 0         | 0         |            | 0           |       |
| threads             | 3         | 8         |            | 0           |       |
| successes           | 0         | 1         |            | 0           |       |
| failures            | 0         | 1         |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_lct_dl.csv

| Column Name      | Min Value | Max Value | Max Length | Null Values | Notes |
|------------------|-----------|-----------|------------|-------------|-------|
| unit_id          | 386       | 90021129  |            | 0           |       |
| ddate            |           |           | 10         | 0           |       |
| dtime            |           |           | 19         | 0           |       |
| target           |           |           | 33         | 0           |       |
| address          |           |           | 15         | 0           |       |
| packets_received | 0         | 100       |            | 0           |       |
| packets_sent     | 0         | 100       |            | 0           |       |
| packet_size      | 1400      | 1400      |            | 0           |       |
| bytes_total      | 0         | 140000    |            | 0           |       |
| duration         | 0         | 3007790   |            | 0           |       |
| bytes_sec        | 0         | 319685024 |            | 0           |       |
| error_code       |           |           | 16         | 0           |       |
| successes        | 0         | 1         |            | 0           |       |
| failures         | 0         | 1         |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_lct_ul.csv

| Column Name      | Min Value | Max Value | Max Length | Null Values | Notes |
|------------------|-----------|-----------|------------|-------------|-------|
| unit_id          | 386       | 90021129  |            | 0           |       |
| ddate            |           |           | 10         | 0           |       |
| dtime            |           |           | 19         | 0           |       |
| target           |           |           | 33         | 0           |       |
| address          |           |           | 15         | 0           |       |
| packets_received | 0         | 100       |            | 0           |       |
| packets_sent     | 0         | 100       |            | 0           |       |
| packet_size      | 1400      | 1400      |            | 0           |       |
| bytes_total      | 0         | 140000    |            | 0           |       |
| duration         | 0         | 4815919   |            | 0           |       |
| bytes_sec        | 0         | 742857143 |            | 0           |       |
| error_code       |           |           | 20         | 0           |       |
| successes        | 0         | 1         |            | 0           |       |
| failures         | 0         | 1         |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_ping.csv

| Column Name | Min Value | Max Value | Max Length | Null Values | Notes |
|-------------|-----------|-----------|------------|-------------|-------|
| unit_id     | 386       | 90021129  |            | 0           |       |
| dtime       |           |           | 19         | 0           |       |
| target      |           |           | 48         | 0           |       |
| rtt_avg     | 0         | 9949752   |            | 0           |       |
| rtt_min     | 0         | 9918606   |            | 0           |       |
| rtt_max     | 0         | 10036534  |            | 0           |       |
| rtt_std     | 0         | 7023982   |            | 0           |       |
| successes   | 0         | 5         |            | 0           |       |
| failures    | 0         | 5         |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_traceroute.csv

| Column Name       | Min Value | Max Value | Max Length | Null Values | Notes                        |
|-------------------|-----------|-----------|------------|-------------|------------------------------|
| unit_id           | 386       | 90021129  |            | 0           |                              |
| dtime             |           |           | 19         | 0           |                              |
| target            |           |           | 48         | 0           |                              |
| address           |           |           | 15         | 0           |                              |
| protocol          |           |           | 4          | 0           |                              |
| hop               | 1         | 60        |            | 0           |                              |
| hop_address       |           |           |            | 8978993     | Non-numeric/non-string column |
| hop_name          |           |           |            | 8978993     | Non-numeric/non-string column |
| sent              | 1         | 3         |            | 0           |                              |
| received          | 0         | 3         |            | 0           |                              |
| rtt_avg           | -19621    | 9471728   |            | 0           |                              |
| successes         | 0         | 1         |            | 0           |                              |
| failures          | 0         | 1         |            | 0           |                              |

---

### Różnorodność danych dla pliku: curr_webget.csv

| Column Name         | Min Value | Max Value | Max Length | Null Values | Notes                        |
|---------------------|-----------|-----------|------------|-------------|------------------------------|
| unit_id             | 386       | 90021129  |            | 0           |                              |
| dtime               |           |           | 19         | 0           |                              |
| target              |           |           | 31         | 0           |                              |
| address             |           |           |            | 994963      | Non-numeric/non-string column |
| fetch_time          | -1537904  | 89398161  |            | 0           |                              |
| bytes_total         | 0         | 10073430  |            | 0           |                              |
| bytes_sec           | -6008331  | 4795570   |            | 0           |                              |
| objects             | 0         | 180       |            | 0           |                              |
| threads             | 8         | 8         |            | 0           |                              |
| requests            | 0         | 180       |            | 0           |                              |
| connections         | 0         | 38        |            | 0           |                              |
| reused_connections  | 0         | 145       |            | 0           |                              |
| lookups             | 0         | 11        |            | 0           |                              |
| request_total_time  | 0         | 1211896799|            | 0           |                              |
| request_min_time    | 0         | 29996040  |            | 0           |                              |
| request_avg_time    | 0         | 2147483647|            | 0           |                              |
| request_max_time    | 0         | 32712916  |            | 0           |                              |
| ttfb_total          | 0         | 219986762 |            | 0           |                              |
| ttfb_min            | 0         | 29863516  |            | 0           |                              |
| ttfb_avg            | 0         | 2147483647|            | 0           |                              |
| ttfb_max            | 0         | 29863516  |            | 0           |                              |
| lookup_total_time   | -1852555  | 105819455 |            | 0           |                              |
| lookup_min_time     | -1933783  | 50091763  |            | 0           |                              |
| lookup_avg_time     | -1419596  | 50091763  |            | 0           |                              |
| lookup_max_time     | -1419596  | 61946295  |            | 0           |                              |
| successes           | 0         | 1         |            | 0           |                              |
| failures            | 0         | 1         |            | 0           |                              |

### Różnorodność danych dla pliku: curr_udpcloss.csv

| Column Name   | Min Value | Max Value | Max Length | Null Values | Notes |
|---------------|-----------|-----------|------------|-------------|-------|
| unit_id       | 386       | 90021129  |            | 0           |       |
| dtime         |           |           | 19         | 0           |       |
| duration      | 5         | 5184419930|            | 0           |       |
| target        |           |           | 48         | 0           |       |
| address       |           |           | 34         | 0           |       |
| packets       | -2        | 825233    |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_udpjitter.csv

| Column Name       | Min Value     | Max Value | Max Length | Null Values | Notes |
|-------------------|---------------|-----------|------------|-------------|-------|
| unit_id           | 386           | 90021129  |            | 0           |       |
| dtime             |               |           | 19         | 0           |       |
| target            |               |           | 33         | 0           |       |
| packet_size       | 160           | 160       |            | 0           |       |
| stream_rate       | 0             | 64000     |            | 0           |       |
| duration          | 0             | 20836769  |            | 0           |       |
| packets_up_sent   | 0             | 500       |            | 0           |       |
| packets_down_sent | 0             | 500       |            | 0           |       |
| packets_up_recv   | 0             | 800       |            | 0           |       |
| packets_down_recv | 0             | 500       |            | 0           |       |
| jitter_up         | -2147483648   | 8515183   |            | 0           |       |
| jitter_down       | -429924       | 2841873   |            | 0           |       |
| latency           | -2147483648   | 14445613  |            | 0           |       |
| successes         | 0             | 1         |            | 0           |       |
| failures          | 0             | 1         |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_udplatency.csv

| Column Name   | Min Value | Max Value | Max Length | Null Values | Notes |
|---------------|-----------|-----------|------------|-------------|-------|
| unit_id       | 386       | 90021129  |            | 0           |       |
| dtime         |           |           | 19         | 0           |       |
| target        |           |           | 48         | 0           |       |
| rtt_avg       | 0         | 2902489   |            | 0           |       |
| rtt_min       | 0         | 2830730   |            | 0           |       |
| rtt_max       | 0         | 2999999   |            | 0           |       |
| rtt_std       | 0         | 1762910   |            | 0           |       |
| successes     | 0         | 4440      |            | 0           |       |
| failures      | 0         | 2400      |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_udplatency6.csv

| Column Name   | Min Value | Max Value | Max Length | Null Values | Notes |
|---------------|-----------|-----------|------------|-------------|-------|
| unit_id       | 213582    | 55187217  |            | 0           |       |
| dtime         |           |           | 19         | 0           |       |
| target        |           |           | 47         | 0           |       |
| rtt_avg       | 0         | 1207621   |            | 0           |       |
| rtt_min       | 0         | 828755    |            | 0           |       |
| rtt_max       | 0         | 2985864   |            | 0           |       |
| rtt_std       | 0         | 592876    |            | 0           |       |
| successes     | 0         | 2370      |            | 0           |       |
| failures      | 0         | 2373      |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_ulping.csv

| Column Name   | Min Value | Max Value | Max Length | Null Values | Notes |
|---------------|-----------|-----------|------------|-------------|-------|
| unit_id       | 386       | 90021129  |            | 0           |       |
| dtime         |           |           | 19         | 0           |       |
| target        |           |           | 48         | 0           |       |
| rtt_avg       | 0         | 2999684   |            | 0           |       |
| rtt_min       | 0         | 2999684   |            | 0           |       |
| rtt_max       | 0         | 2999999   |            | 0           |       |
| rtt_std       | 0         | 1555467   |            | 0           |       |
| successes     | 0         | 852479    |            | 0           |       |
| failures      | 0         | 217867    |            | 0           |       |

---

### Różnorodność danych dla pliku: curr_dlping.csv

| Column Name | Min Value | Max Value | Max Length | Null Values | Notes |
|-------------|-----------|-----------|------------|-------------|-------|
| unit_id     | 386       | 90021129  |            | 0           |       |
| dtime       |           |           | 19         | 0           |       |
| target      |           |           | 48         | 0           |       |
| rtt_avg     | 0         | 2899709   |            | 0           |       |
| rtt_min     | 0         | 2771961   |            | 0           |       |
| rtt_max     | 0         | 2999974   |            | 0           |       |
| rtt_std     | 0         | 1668147   |            | 0           |       |
| successes   | 0         | 219814    |            | 0           |       |
| failures    | 0         | 215649    |            | 0           |       |

Do dalszej analizy wybraliśmy pliki: httpostmt, httpgetmt, udpjitter oraz plik datausage, dlatego na analizie czystości tych danych się skupimy.

Musimy się pozbyć wszelkich negatywnych wartości, a także testów które się nie powiodły. Takowe testy nie pomogą nam w analizie przepływu gdyż zakończyły się one niepowodzeniem. Po przefiltrowaniu przez failures można się pozbyć kolumn successes i failures

In [1]:
#zbadamy wartości ujemne w pliku http

import numpy as np
import pandas as pd

df = pd.read_csv('/home/arut3n/Documents/Studia/MagSem1/PAMSI/PAMSI-part-one/data/202301/curr_httpgetmt.csv')

df.head(10)

,unit_id,dtime,target,address,fetch_time,bytes_total,bytes_sec,bytes_sec_interval,warmup_time,warmup_bytes,sequence,threads,successes,failures
0,386,2023-01-01 11:46:34,sp1-vm-newyork-us.samknows.com,151.139.31.1,10012065,256106610,25579799,25579799,5026538,122905442,0,8,1,0
1,386,2023-01-02 17:48:53,sp1-vm-newyork-us.samknows.com,151.139.31.1,10008314,246517728,24631294,24631294,5021449,119497118,0,8,1,0
2,386,2023-01-03 03:51:41,sp2-vm-newyork-us.samknows.com,151.139.31.8,10027402,249917664,24923471,24923471,5015041,122870492,0,8,1,0
3,386,2023-01-03 05:49:46,sp2-vm-newyork-us.samknows.com,151.139.31.8,10016280,250970358,25056244,25056244,5018440,120867158,0,8,1,0
4,386,2023-01-03 11:46:01,sp2-vm-newyork-us.samknows.com,151.139.31.8,10031116,250694952,24991731,24991731,5021825,122000936,0,8,1,0
5,386,2023-01-05 01:53:22,sp2-vm-newyork-us.samknows.com,151.139.31.8,10027507,255070692,25437099,25437099,1519023,31456670,0,8,1,0
6,386,2023-01-05 05:48:29,sp2-vm-newyork-us.samknows.com,151.139.31.8,10032801,252225762,25140114,25140114,5026236,124890602,0,8,1,0
7,386,2023-01-06 01:51:05,sp2-vm-newyork-us.samknows.com,151.139.31.8,10014871,253602792,25322622,25322622,5030712,122548952,0,8,1,0
8,386,2023-01-06 05:51:01,sp1-vm-newyork-us.samknows.com,151.139.31.1,10031595,251210814,25041961,25041961,1526093,33233528,0,8,1,0
9,386,2023-01-07 01:53:22,sp1-vm-newyork-us.samknows.com,151.139.31.1,10012891,246006060,24568934,24568934,5012751,110672942,0,8,1,0

In [2]:
cleandf = df[df['failures'] == 0]
cleandf = cleandf[cleandf['warmup_time'] >= 0]
cleandf = cleandf.drop(['failures', 'successes'], axis=1)
cleandf.head(10)

,unit_id,dtime,target,address,fetch_time,bytes_total,bytes_sec,bytes_sec_interval,warmup_time,warmup_bytes,sequence,threads
0,386,2023-01-01 11:46:34,sp1-vm-newyork-us.samknows.com,151.139.31.1,10012065,256106610,25579799,25579799,5026538,122905442,0,8
1,386,2023-01-02 17:48:53,sp1-vm-newyork-us.samknows.com,151.139.31.1,10008314,246517728,24631294,24631294,5021449,119497118,0,8
2,386,2023-01-03 03:51:41,sp2-vm-newyork-us.samknows.com,151.139.31.8,10027402,249917664,24923471,24923471,5015041,122870492,0,8
3,386,2023-01-03 05:49:46,sp2-vm-newyork-us.samknows.com,151.139.31.8,10016280,250970358,25056244,25056244,5018440,120867158,0,8
4,386,2023-01-03 11:46:01,sp2-vm-newyork-us.samknows.com,151.139.31.8,10031116,250694952,24991731,24991731,5021825,122000936,0,8
5,386,2023-01-05 01:53:22,sp2-vm-newyork-us.samknows.com,151.139.31.8,10027507,255070692,25437099,25437099,1519023,31456670,0,8
6,386,2023-01-05 05:48:29,sp2-vm-newyork-us.samknows.com,151.139.31.8,10032801,252225762,25140114,25140114,5026236,124890602,0,8
7,386,2023-01-06 01:51:05,sp2-vm-newyork-us.samknows.com,151.139.31.8,10014871,253602792,25322622,25322622,5030712,122548952,0,8
8,386,2023-01-06 05:51:01,sp1-vm-newyork-us.samknows.com,151.139.31.1,10031595,251210814,25041961,25041961,1526093,33233528,0,8
9,386,2023-01-07 01:53:22,sp1-vm-newyork-us.samknows.com,151.139.31.1,10012891,246006060,24568934,24568934,5012751,110672942,0,8

In [3]:
# oczyszczony plik do csv
cleandf.to_csv('/home/arut3n/Documents/Studia/MagSem1/PAMSI/PAMSI-part-one/data/202301/curr_httpgetmt_clean.csv', index=False)

# Teraz przejdźmy do pliku httppostmt, tam należy wykonać dokładnie te same operacje

df = pd.read_csv('/home/arut3n/Documents/Studia/MagSem1/PAMSI/PAMSI-part-one/data/202301/curr_httppostmt.csv')
df.head(10)

,unit_id,dtime,target,address,fetch_time,bytes_total,bytes_sec,bytes_sec_interval,warmup_time,warmup_bytes,sequence,threads,successes,failures
0,386,2023-01-01 11:47:02,sp1-vm-newyork-us.samknows.com,151.139.31.1,10000039,201046854,20104607,20104607,5000029,93901036,0,8,1,0
1,386,2023-01-03 05:50:16,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000034,176081080,17608048,17608048,1500029,24551908,0,8,1,0
2,386,2023-01-03 11:46:29,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000033,207298284,20729760,20729760,5000028,93998212,0,8,1,0
3,386,2023-01-05 01:53:51,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000032,203725634,20372498,20372498,5000030,94243956,0,8,1,0
4,386,2023-01-05 05:49:17,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000040,197027528,19702674,19702674,5000029,91878206,0,8,1,0
5,386,2023-01-06 01:51:36,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000032,173491924,17349137,17349137,5000021,97861524,0,8,1,0
6,386,2023-01-06 05:51:28,sp1-vm-newyork-us.samknows.com,151.139.31.1,10000042,209662074,20966119,20966119,5000033,97846678,0,8,1,0
7,386,2023-01-07 01:53:55,sp1-vm-newyork-us.samknows.com,151.139.31.1,10000044,186072738,18607192,18607192,5000033,86612350,0,8,1,0
8,386,2023-01-07 11:51:08,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000031,211367224,21136657,21136657,5000038,100947594,0,8,1,0
9,386,2023-01-08 03:52:30,sp1-vm-newyork-us.samknows.com,151.139.31.1,10000119,207070318,20706785,20706785,5000020,97461924,0,8,1,0

In [4]:
cleandf = df[df['failures'] == 0]
cleandf = cleandf[cleandf['warmup_time'] >= 0]
cleandf = cleandf.drop(['failures', 'successes'], axis=1)
cleandf.head(10)

,unit_id,dtime,target,address,fetch_time,bytes_total,bytes_sec,bytes_sec_interval,warmup_time,warmup_bytes,sequence,threads
0,386,2023-01-01 11:47:02,sp1-vm-newyork-us.samknows.com,151.139.31.1,10000039,201046854,20104607,20104607,5000029,93901036,0,8
1,386,2023-01-03 05:50:16,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000034,176081080,17608048,17608048,1500029,24551908,0,8
2,386,2023-01-03 11:46:29,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000033,207298284,20729760,20729760,5000028,93998212,0,8
3,386,2023-01-05 01:53:51,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000032,203725634,20372498,20372498,5000030,94243956,0,8
4,386,2023-01-05 05:49:17,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000040,197027528,19702674,19702674,5000029,91878206,0,8
5,386,2023-01-06 01:51:36,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000032,173491924,17349137,17349137,5000021,97861524,0,8
6,386,2023-01-06 05:51:28,sp1-vm-newyork-us.samknows.com,151.139.31.1,10000042,209662074,20966119,20966119,5000033,97846678,0,8
7,386,2023-01-07 01:53:55,sp1-vm-newyork-us.samknows.com,151.139.31.1,10000044,186072738,18607192,18607192,5000033,86612350,0,8
8,386,2023-01-07 11:51:08,sp2-vm-newyork-us.samknows.com,151.139.31.8,10000031,211367224,21136657,21136657,5000038,100947594,0,8
9,386,2023-01-08 03:52:30,sp1-vm-newyork-us.samknows.com,151.139.31.1,10000119,207070318,20706785,20706785,5000020,97461924,0,8

In [5]:
# kolejny plik do csv - curr_httppostmt_clean
cleandf.to_csv('/home/arut3n/Documents/Studia/MagSem1/PAMSI/PAMSI-part-one/data/202301/curr_httppostmt_clean.csv', index=False)

# Kolejnym plikiem do przetworzenia jest curr_udpjitter

df = pd.read_csv('/home/arut3n/Documents/Studia/MagSem1/PAMSI/PAMSI-part-one/data/202301/curr_udpjitter.csv')
df.head(10)

cleandf = df[df['failures'] == 0]
cleandf = cleandf[cleandf['jitter_up'] >= 0]
cleandf = cleandf[cleandf['jitter_down'] >= 0]
cleandf = cleandf[cleandf['latency'] >= 0]
cleandf = cleandf.drop(['failures', 'successes'], axis=1)
cleandf.head(10)

,unit_id,dtime,target,packet_size,stream_rate,duration,packets_up_sent,packets_down_sent,packets_up_recv,packets_down_recv,jitter_up,jitter_down,latency
0,386,2023-01-01 11:41:34,sp1-vm-newyork-us.samknows.com,160,64000,15010478,500,500,500,500,1528,724,8340
1,386,2023-01-02 18:41:48,sp1-vm-newyork-us.samknows.com,160,64000,15255138,500,500,500,500,1429,759,8636
2,386,2023-01-02 19:41:32,sp1-vm-newyork-us.samknows.com,160,64000,15048060,500,500,500,500,1228,730,7431
3,386,2023-01-03 01:41:19,sp2-vm-newyork-us.samknows.com,160,64000,14992462,500,500,500,500,1233,731,8332
4,386,2023-01-03 05:41:10,sp2-vm-newyork-us.samknows.com,160,64000,15078435,500,500,500,500,1232,711,7930
5,386,2023-01-03 07:41:13,sp2-vm-newyork-us.samknows.com,160,64000,15026833,500,500,500,500,1063,719,8327
6,386,2023-01-03 08:41:11,sp2-vm-newyork-us.samknows.com,160,64000,15016744,500,500,500,500,1358,715,7769
7,386,2023-01-03 09:41:03,sp2-vm-newyork-us.samknows.com,160,64000,15048972,500,500,500,500,1728,729,8736
8,386,2023-01-03 10:41:02,sp2-vm-newyork-us.samknows.com,160,64000,15071247,500,500,500,500,1150,726,8103
9,386,2023-01-03 11:41:09,sp2-vm-newyork-us.samknows.com,160,64000,16666474,500,500,500,500,1362,706,7608

In [ ]:
cleandf.to_csv('/home/arut3n/Documents/Studia/MagSem1/PAMSI/PAMSI-part-one/data/202301/curr_udpjitter_clean.csv', index=False)
# Kolejny i ostatni już plik to curr_datausage, natomiast plik ten nie zawiera żadnych brudnych danych, więc nie ma potrzeby go oczyszczać

,unit_id,dtime,sk_tx_bytes,sk_rx_bytes,cust_wired_tx_bytes,cust_wired_rx_bytes,cust_wifi_tx_bytes,cust_wifi_rx_bytes
0,386,2023-01-01 06:32:00,0,61288,42114358,2190548237,0,3225217
1,386,2023-01-01 07:32:02,0,77942,36364678,1781312604,0,2878273
2,386,2023-01-01 08:32:03,1593,59292,31497966,914522306,0,2649831
3,386,2023-01-01 09:32:05,0,61601,37000182,1609290026,0,2889108
4,386,2023-01-01 10:32:07,2552,103223,33011116,1499945826,0,2771261
5,386,2023-01-01 11:32:07,0,58884,23054330,415598953,0,2626961
6,386,2023-01-01 12:32:07,313742542,879858193,29706300,911867187,0,2445095
7,386,2023-01-01 13:32:09,0,57448,110820527,2355653852,0,3650813
8,386,2023-01-01 14:32:09,0,66790,85018376,1774046905,0,2912126
9,386,2023-01-01 15:32:11,0,64051,27190742,928992353,0,2453969